<h1>Your Tasks</h1>

<div class="tasks-list">

  <% @tasks.each do |task| %>
    <div class="task-card">
      <div class="task-card-header">
        <span class="task-title"><%= task.title %></span>
        <span class="<%=task.status%>"><%= task.status %></span>
      </div>
      <div class="task-tags">
        <% task.tags.each do |tag| %>
          <span class="tag"><%= tag.name %></span>
        <% end%>
      </div>
      <div class="task-options">
        <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }%>
        <%= link_to 'More info', task%>
      </div>
    </div>
  <% end %>
</div>

<div class="index-filters">
    <h2>Filters</h2>

    <%= simple_form_for :search, url: tasks_path, method: :get do |f| %>
    <div class="form-group filters-box">
      <%= f.input :deadline, as: :string, label: 'Max. deadline', required: false, input_html: { value: @filter.deadline, type: :date } %>
      <%= f.input :importance, label: 'Importance', required: false, input_html: { value: @filter.importance } %>
      <%= f.input :status, collection: ['to_do', 'done'], label: false, prompt: 'Select the status', required: false, class: 'filter-dropdown', input_html: { value: @filter.status }%>
      <%= f.submit 'GO!', name: nil, class: 'red-btn' %>
    </div>
  
    <% end %>
    </div>

<div class="tasks-list-options">
  <%= link_to 'New Task', new_task_path %>
  <%= link_to 'My tags', tags_path %>
  <%= link_to  'Sign out', destroy_user_session_path, method: :delete%>
</div>