<h1>Your Tasks</h1>

<div class="tasks-list">
  <% @tasks.each do |task| %>
    <div class="task-card">
      <div class="task-card-header">
        <span class="task-title"><%= task.title %></span>
        <span class="<%=task.status%>"><%= task.status %></span>
      </div>
      <div class="task-tags">
        <% task.tags.each do |tag| %>
          <span class="tag"><%= tag.name %></span>
        <% end%>
      </div>
      <div class="task-options">
        <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }%>
        <%= link_to 'Edit', edit_task_path(task)%>
        <%= link_to 'More info', task%>
      </div>
    </div>
  <% end %>
</div>
<div class="tasks-list-options">
  <%= link_to 'New Task', new_task_path %>
  <%= link_to  'Sign out', destroy_user_session_path, method: :delete%>
</div>